# Ambiente do Backend (backend/env.example)
PORT=3003

# Configuração de Email
EMAIL_HOST=seu_host_smtp
EMAIL_PASS=sua_senha_smtp
EMAIL_PORT=sua_porta_smtp
EMAIL_SECURE=true_ou_false
EMAIL_USER=seu_usuario_smtp

# Evolution API (WhatsApp)
EVOLUTION_API_URL=https://api.evolution.whatsapp.com
EVOLUTION_INSTANCE_KEY=sua_instance_key
EVOLUTION_INSTANCE_NAME=sua_instance_name
EVOLUTION_KEY=sua_evolution_key
EVOLUTION_NUMBER=seu_numero_evolution
