# Ambiente do Backend (backend/env.example)
PORT=3003

# Configuração de Email
EMAIL_HOST=smtp.webmail.com
EMAIL_PASS=Gao@242526
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=ia@gaotech.com.br

# Evolution API (WhatsApp)
EVOLUTION_API_URL=https://evo.gaotech.com.br
EVOLUTION_INSTANCE_KEY=27312B1FF0C9-48B3-9683-A67091A2D8E9
EVOLUTION_INSTANCE_NAME=desenvolvimento
EVOLUTION_KEY=UklGI3tPTtMAe5umB8D68RAZFRxP4UNj
EVOLUTION_NUMBER=554799376200
